body {
    
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

form {
    width: 700px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

form h1 {
    text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

form button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}
